* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(90deg, #403b4a, #e7e9bb);
  color: #e7e9bb;
  position: relative;
}

nav {
  padding: 2rem 5rem;
  text-align: start;
  border-radius: 0 0 120px 120px;
  font-size: x-large;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

li .newBtn_Span {
  cursor: pointer;
  border: 2px solid #403b4a;
  color: #403b4a;
  padding: 0.5rem;
  border-radius: 25px;
  transition: ease 0.3s;
}

li .newBtn_Span:hover {
  color: #e7e9bb;
  background-color: #403b4a;
}

nav ul li .newBtn {
  color: #403b4a;
}
nav ul li .newBtn:hover {
  color: #e7e9bb;
}

.notesApp {
  width: 100%;
  position: relative;
  display: grid;
  /* grid-template-columns: 25% 25% 25% 25%; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: max-content;
  justify-items: center;
}

.txtArea_Div {
  margin-bottom: 5rem;
  width: 15rem;
  max-width: 20rem;
  height: 15rem;
  border-radius: 20px;
  padding: 1rem;
  border: none;
  font-size: large;
  cursor: pointer;
  background-color: white;
  position: relative;
}

.txtArea {
  border: none;
  width: 100%;
  height: 90%;
  resize: none;
  cursor: pointer;
  outline: none;
  font-size: large;
}
.txtArea::placeholder {
  color: #757575;
}

.IconsDiv {
  display: none;
  gap: 0.5rem;
  justify-content: end;
  cursor: default;
}

.iblack {
  color: #403b4a;
  cursor: pointer;
  font-size: larger;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iblack:hover {
  background-color: rgba(127, 141, 125, 0.289);
  backdrop-filter: blur(20px);
  border-radius: 50%;
}

.Fcolor {
  background-color: gray;
  width: 15rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid black;
  position: absolute;
  display: flex;
  margin-top: 5rem;
  justify-content: space-evenly;
  gap: 0.5rem;
  z-index: 999;
}

.color {
  background-color: #fff;
  border: 1px solid #403b4a;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.color:hover {
  border: 2px solid black;
}

.Rcolor {
  background-color: red;
}
.Bcolor {
  background-color: royalblue;
}
.Gcolor {
  background-color: green;
}
.Ycolor {
  background-color: yellow;
}
.DLcolor {
  background-color: #e7e9bb;
}
.Blcolor {
  background-color: black;
}

.Bcolor::placeholder {
  color: white;
}

/* opened_Note CSS */
.opened {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #202124;
  opacity: 85%;
  z-index: 100;
}

.opened_Note {
  background-color: white;
  position: absolute;
  max-width: 80vw;
  width: 60vw;
  height: 70vh;
  border-radius: 20px;
  padding: 1rem;
  border: none;
  font-size: large;
  cursor: auto;
  z-index: 99;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.hidden {
  display: none;
}

.Confirm_Note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #e7e9bb;
  padding: 2rem 1rem;
  align-items: center;
  background-color: #403b4a6b;
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  height: 100%;
  width: 15rem;
  border-radius: 20px;
  margin-left: 15rem;
  gap: 1rem;
  position: absolute;
  z-index: 999;
  bottom: 0rem;
  right: 0rem;
}
.btns_Div {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

.btn {
  border: none;
  width: 30%;
  border-radius: 10px;
  padding: 0.5rem 0;
  cursor: pointer;
}

.cncle {
  border: 2px solid black;
  background-color: #e7e9bb;
}

.cncle:hover {
  border: 2px solid black;
  background-color: #d5d7ad;
}

.del {
  background-color: crimson;
  border: 2px solid black;
  color: #e7e9bb;
}

.del:hover {
  background-color: rgb(189, 17, 52);
}

/* Lock */

.cnfrm {
  background-color: rgb(90, 211, 4);
  border: 2px solid black;
  color: #eeefcd;
}

.cnfrm:hover {
  background-color: rgb(81, 173, 16);
}
.ulIcon {
  position: absolute;
  /* right: 15px; */
  top: 15px;
}

.pinPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #e7e9bb;
  padding: 2rem 1rem;
  background-color: #403b4a6b;
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  height: 100%;
  width: 15rem;
  border-radius: 20px;
  margin-left: 15rem;
  gap: 1rem;
  z-index: 999;
  bottom: 0rem;
  right: 0rem;
  position: absolute;
}
.pinCode {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: #e7e9bb;
}
.pinPopup input {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  text-align: center;
  font-size: xx-large;
}


.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #eeefcd;
  padding: 2rem 1rem;
  background-color: #403b4a6b;
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  height: 100%;
  width: 15rem;
  border-radius: 20px;
  margin-left: 15rem;
  gap: 1rem;
  z-index: 999;
  bottom: 0rem;
  right: 0rem;
  position: absolute;
}